---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import CatLeaderboard from "../components/CatLeaderboard.astro";
import CatStats from "../components/CatStats.astro";
import CatWrapper from "../components/CatWrapper.astro";
---

<Layout
	title="ðŸ˜» Cat Trick - Meeting the Cats of Ballard"
	description="Meeting the cats of Ballard. 3 cats in 1 day = a cat trick! ðŸ†"
	url=""
>
	<main>
		<Header />
		<CatStats />
		<CatLeaderboard />
		<CatWrapper />
	</main>
</Layout>
