---
const { data } = Astro.props;

const catsWithCount = data.reduce((acc, curr) => {
	if (!acc[curr.cat]) {
		acc[curr.cat] = 0;
	}
	acc[curr.cat]++;
	return acc;
}, {});

// Top 10 cats by count
const topCats = Object.entries(catsWithCount)
	.sort((a, b) => (b[1] as number) - (a[1] as number))
	.slice(0, 10)
	.map(([cat, count]) => `(${Number(count) < 10 ? `0${count}` : count}) ${cat}`);
---

<div class="leaderboard">
	<ul style="list-style: none; text-align: center;">
		{Object.entries(topCats).map(([name, count]) => <li style="text-align: left;">{count}</li>)}
	</ul>
</div>
