---
const { topCats } = Astro.props;
---

<div class="leaderboard">
	<ul style="list-style: none; text-align: center;">
		{Object.entries(topCats).map(([name, count]) => <li style="text-align: left;">{count}</li>)}
	</ul>
</div>
