---
const { data, topCount } = Astro.props;

const catsWithCount = data.reduce((acc, curr) => {
	if (!acc[curr.cat]) {
		acc[curr.cat] = 0;
	}
	acc[curr.cat]++;
	return acc;
}, {});

const topCats = Object.entries(catsWithCount)
	.sort((a, b) => Number(b[1]) - Number(a[1]))
	.slice(0, topCount)
	.map(([cat, count]) => `(${Number(count) < 10 ? `0${count}` : count}) ${cat}`);
---

<div class="leaderboard">
	<ul style="list-style: none; text-align: center;">
		{Object.entries(topCats).map(([name, count]) => <li style="text-align: left;">{count}</li>)}
	</ul>
</div>
