<footer class="center">
	<p>
		<i>
			{new Date().getFullYear()} Cat Trick is a project by Ballard resident <a
				href="https://michaelallensmith.com/">Michael Allen Smith</a
			>.
		</i>
	</p>
	<!-- <p>
		<em>
			This site does not track users or display ads. No pop-up windows either. It is a
			non-commercial hobby site. The code for this site is freely available on
			<a href="https://github.com/digitalcolony/cat-trick>GitHub</a>. Use however you like.
			<a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons 4.0</a>.
		</em>
	</p> -->
</footer>
